footer.footer
  .footer__logo
    a(href='/')
      img(src='/img/logo-green.png' alt='Natours logo')
  ul.footer__nav
    li: a(href='https://github.com/GouravSathe' target='_blank') GitHub
    li: a(href='https://www.linkedin.com/in/gourav-sathe-39773817a/' target='_blank') LinkedIn
  p.footer__copyright &copy; by Gourav Sathe. All rights reserved.